body{
	background: rgba(255, 229, 180, 0.9); 
	padding: 0 20px 20px 20px;
	margin: 0;
}
p{
	border: 1px solid #693;
	background: red;
	border-radius: 40px/20px;
	padding: 5px;
	width: 30em;
	min-height: 200px;

	overflow: square;
	box-shadow: 4px 4px 11px rgba(0, 4, 0, .7);
}
h1{
	width: 300px;
	padding: 15px;
	border-width: 5px;
	margin: 10px;
	border: 1px solid #888;
	box-sizing: border-box;
}