body{
	padding: 60px;
}
p.test1{
	width: 500px;
	border: 1px solid #003;
	padding: 3px;
	transform: scale(1);
}

a.button {
	padding: 3px;
	color: black;
	background-color: #FF6603;
	border: 5px solid #660034;
	transition-property: color, background-color, border-color;
	transition-duration: 1s, 1s, 2s;
	transition-delay: 0, 0, 1s;
}
a.button:hover {
	color: white;
	background-color: #660034;
	border-color: #FF6603;
}

a.button1 {
	font: .9em Arial, Helvetica, sans-serif;
	border-radius: .5em;
	background-color: rgb(34,255,23);
	border: 1px solid rgba(0,0,0,.5);
	padding: .5em;
	display: inline-table;
	transition-property: color, background-color, border-color;
}
a.button1:hover {
	color: black;
	background-color: yellow;
	border-color: #FF6603;
	-webkit-transform: scale(1.2) rotate(12deg);
	-ms-transform: scale(1.2) rotate(12deg);
	transform: scale(1.2) rotate(12deg);
}